@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);



body {
	font-size: 2.5em;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	line-height: 1.6;
    background-color:  rgb(221, 201, 25);
    padding: 0px;
}


#first_row{
    clear: both;
}

#first_row p{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1em;   
}

#flowersimg{
    width: 50%;
    float: right;
	height: auto;
    margin-right: 0%;
}

#Flower_row{
    clear: both;
}

#flowerimg{
    width: 50%;
    float: left;
	height: auto;
	margin-left: 0%;
}

#flower_word{
    padding-top: 75px;
    text-align: center;
    font-weight: 600;
	color:  rgb(0, 0, 0);
    width: 50%;
	height: auto;
    float: right;
}

ul {
    list-style-type: none;
    }
#Ua{
    clear: both;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 5em .5em 5em;
}

#power_row{
    clear: both;
}

#powerimg{
    float: right;
    width: 50%;
	height: auto;
	margin-right: 0%;
}

#power_word{
    padding-top: 75px;
    text-align: center;
    font-weight: 600;
	color:  rgb(0, 0, 0);
    width: 50%;
	height: auto;
    float: left;
}

ol {
    list-style-type: none;
}
#nav-a-style {
    flex-direction:column;
}
 nav a:hover {	
    background-color: rgb(89, 86, 252);
    color: rgb(255, 255, 255);
    font-weight: 600;
    }


    
